@page "/"
@rendermode InteractiveServer

<PageTitle>Crypto CDA Calculator</PageTitle>

<div style="background-color: white; width: 60%; margin: auto; height: 100vh;">
    <div style="text-align: center; padding-top: 40px;">
        <h1 style="font-size: 40px;">Crypto DCA Calculator</h1>
        <h2>Made by Gîrlea Radu Cristian</h2>
    </div>

    <div style="display: flex; justify-content: center; margin: auto; margin-top: 75px; padding: 25px;">
        <MudStack Row="true">
            <MudStack Style="margin-top: 50px; margin-right: 50px;">
                <label for="currencies">Select Cryptocurrency:</label>
                <select 
                    id="currencies" 
                    @onchange="HandleCurrencyChange"
                    style="border: 1px solid gray; padding: 5px; margin-bottom: 20px;"
                >
                    @foreach (var currency in _currencies)
                    {
                        <option value="@currency.Name">@currency.Symbol</option>
                    }
                </select>
                <label for="investmentAmount">Select Investment Amount:</label>
                <input 
                    type="number" 
                    id="investmentAmount" 
                    name="investmentAmount" 
                    min="1" 
                    value="@_investedAmount"
                    @onchange="HandleInvestmentAmountChange"
                    style="border: 1px solid gray; padding: 5px; margin-bottom: 20px;" 
                />
                <label for="startMonth">Select Start Date:</label>
                <input 
                    type="month"
                    id="startMonth" 
                    @onchange="HandleDateChange" 
                    value="2024-01"
                    min="2024-01"
                    max="2024-10"
                    style="border: 1px solid gray; padding: 5px; margin-bottom: 20px;" 
                />
            </MudStack>
            <MudStack>
                <MudStack>
                    @if (_isLoading)
                    {
                        <p>Loading chart data...</p>
                    }
                    else
                    {
                        <div>
                            <canvas id="myChart" style="width: 100%; height: 300;"></canvas>
                        </div>
                    }
                </MudStack>
                <MudStack>
                    @if (_isLoading)
                    {
                        <p>Loading data...</p>
                    }
                    else 
                    {
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Currency Price</th>
                                    <th>Investment Amount</th>
                                    <th>Currency Amount</th>
                                    <th>Value Today</th>
                                    <th>ROI</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_monthlyPrices != null)
                                {
                                    @foreach (var price in _monthlyPrices)
                                    {
                                        <tr>
                                            <td>@price.Date.ToShortDateString()</td>
                                            <td>@price.Price.ToString("F2")€</td>
                                            <td>@_investedAmount.ToString("F2")€</td>

                                            <!--Calculating currency amount -->
                                            <td>@((_investedAmount / price.Price).ToString("F2"))</td>

                                            <!--Calculating the value today -->
                                            <td>@(((_investedAmount / price.Price) * _currentPrice).ToString("F2"))</td>

                                            <!--Calculating return on investment (ROI) -->
                                            <td style="color: @(((((_investedAmount / price.Price) * _currentPrice) - _investedAmount) / _investedAmount * 100) > 0 ? "green" : "red")">
                                                @(((((_investedAmount / price.Price) * _currentPrice) - _investedAmount) / _investedAmount * 100).ToString("F2"))%
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    }
                </MudStack>
            </MudStack>
        </MudStack>
    </div>
</div>